somz.duckdns.org {
    @cors_preflight method OPTIONS
    handle @cors_preflight {
        header Access-Control-Allow-Origin "*"
        header Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
        header Access-Control-Allow-Headers "*"
        header Access-Control-Max-Age "3600"
        respond "" 204
    }
    
    header Access-Control-Allow-Origin "*"
    
    reverse_proxy 127.0.0.1:8080
}